*{
    padding: 0;
    margin: 0;

}
.countdown{
    background-image: url('https://do.stemup.app//upload/N%C3%BAi_non_tr%C3%B9ng_%C4%91i%E1%BB%87p_ph%E1%BB%A7_m%C3%A2y_m%E1%BB%9D.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}
.countdown_timer{
    color: white;
    text-align: center;
}
.container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
.title{
    font-size: 65px;
    font-family: 'Lobster', cursive;
    margin-bottom: 20px;
    font-weight: 200;
    color: #818181;
}
.timer{
    font-size: 80px;
    font-weight: 300;
    display: inline-block;
    background: rgba(40,50,61,.62);
    width: 125px;
    height: 110px;
    padding:0 10px;
    margin-right: 10px;
    font-family: 'Open Sans', sans-serif;
}

